<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>com.example.demo.AddStudentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/add-student</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecalculatePointsServlet</servlet-name>
        <servlet-class>com.example.demo.RecalculatePointsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RecalculatePointsServlet</servlet-name>
        <url-pattern>/recalculate-points</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HousePointsServlet</servlet-name>
        <servlet-class>com.example.demo.HousePointsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HousePointsServlet</servlet-name>
        <url-pattern>/house-points</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>GivePointsServlet</servlet-name>
        <servlet-class>com.example.demo.GivePointsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GivePointsServlet</servlet-name>
        <url-pattern>/give-points</url-pattern>
    </servlet-mapping>








    <servlet>
        <servlet-name>StudentListServlet</servlet-name>
        <servlet-class>com.example.demo.StudentListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentListServlet</servlet-name>
        <url-pattern>/students</url-pattern>
    </servlet-mapping>









    <servlet>
        <servlet-name>TopStudentsServlet</servlet-name>
        <servlet-class>com.example.demo.TopStudentsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TopStudentsServlet</servlet-name>
        <url-pattern>/top-students</url-pattern>
    </servlet-mapping>




</web-app>
